#root {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    background-color: #d9e8ff;
  }
  
  .title {
    color: #0000ff;
    font-style: italic;
    text-align: center;
    padding: 20px;
  }
  
  .image {
    width: 600px;
    height: 400px;
    border-radius: 5%;
    border: 2px solid black;
  }
  
  .date {
    font-weight: bold;
    font-size: 20px;
  }
  
  .button {
    position: relative;
  }
  
  #btnNext {
    position: absolute;
    top: -250px;
    left: 350px;
    border: none;
    background-color: #d9e8ff;
    font-size: 40px;
  }
  
  #btnPrev {
    position: absolute;
    top: -250px;
    right: 350px;
    border: none;
    background-color: #d9e8ff;
    font-size: 40px;
  }
  
  #btnNext,
  #btnPrev:hover {
    cursor: pointer;
  }